[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yaada-core = {editable = true, path = "./src/core"}
yaada-nlp = {editable = true, path = "./src/nlp"}
yaada-openapi = {editable = true, path = "./src/openapi"}
yaada-webscraping = {editable = true, path = "./src/webscraping"}
pandas = {version = "==1.5.3"} # for pyLDAvis compatibility

[dev-packages]
flake8 = "*"
pytest = "*"
pip-licenses = "*"
black = "*"
isort = "*"
certifi = "*"
twine = "*"
build = "*"
mkdocs-material = "*"
mkdocs-swagger-ui-tag = "*"
mkdocstrings = {version = "*", extras = ["python"]}

[requires]
python_version = "3.8"
