annotated-types==0.6.0
anyio==4.2.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blis==0.7.11
boto3==1.34.35
botocore==1.34.35
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
cloudpathlib==0.16.0
comm==0.2.1
confection==0.1.4
connexion[swagger-ui]==2.14.2
contourpy==1.2.0
cssselect==1.2.0
cycler==0.12.1
cymem==2.0.8
dateparser==1.2.0
debugpy==1.8.0
decorator==5.1.1
deepmerge==1.1.1
defusedxml==0.7.1
docker==7.0.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.1
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.13.1
flask==2.2.5
flask-cors==4.0.0
fonttools==4.47.2
fqdn==1.5.1
fsspec==2024.2.0
ftfy==6.1.3
funcy==2.0
gensim==4.3.2
genson==1.2.2
gitdb==4.0.11
gitpython==3.1.41
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.3
idna==3.6
importlib-metadata==7.0.1
inflection==0.5.1
ipykernel==6.29.0
ipython==8.21.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
jieba3k==0.35.1
jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema[format-nongpl]==4.21.1
jsonschema-specifications==2023.12.1
jupyter-client==8.6.0
jupyter-core==5.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter-server==2.12.5
jupyter-server-terminals==0.5.2
jupyterlab==4.1.0
jupyterlab-pygments==0.3.0
jupyterlab-server==2.25.2
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
lxml==5.1.0
markupsafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
methodtools==0.4.7
mistune==3.0.2
mpmath==1.3.0
murmurhash==1.0.10
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
newspaper3k==0.2.8
nltk==3.8.1
notebook-shim==0.2.3
numexpr==2.9.0
numpy==1.26.3
openapi-schema-validator==0.6.2
opensearch-py==2.4.2
overrides==7.7.0
packaging==23.2
paho-mqtt==1.6.1
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
preshed==3.0.9
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==2.6.1
pydantic-core==2.16.2
pygments==2.17.2
pyhocon==0.3.59
pyldavis==3.4.0
pylru==1.2.1
pyparsing==2.4.7
pyquery==2.0.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2024.1
pyyaml==6.0.1
pyzmq==25.1.2
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-file==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
s3transfer==0.10.0
safetensors==0.4.2
schedule==1.2.1
scikit-learn==1.4.0
scipy==1.12.0
send2trash==1.8.2
sentence-transformers==2.3.1
sentencepiece==0.1.99
setuptools==69.0.3
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
swagger-ui-bundle==0.0.9
sympy==1.12
terminado==0.18.0
textblob==0.17.1
thinc==8.2.2
threadpoolctl==3.2.0
tika==2.6.0
tinycss2==1.2.1
tinysegmenter==0.3
tldextract==5.1.1
tokenizers==0.15.1
tomli==2.0.1
torch==2.2.0
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.37.2
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing-extensions==4.9.0
tzlocal==5.2
uri-template==1.3.0
urllib3==2.0.7
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
werkzeug==2.2.3
wirerope==0.4.7
zipp==3.17.0
